.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "naz";
  backface-visibility: hidden;
}
.log-in__group {
  transition: all 0.3s;
  font-size: 2.7rem;
  width: 100%;
  position: relative;
  z-index: 1;
  &:first-child {
    margin-bottom: 60px;
    // 500px=31.25em
    @include media-w(31.25em) {
      margin-bottom: 75px;
    }
  }
  &::after {
    content: "";
    width: 60%;
    height: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: -1;
    @include border(top, right, 5px, 5px, #c38323, $gold);
    transform: skewX(-10deg);
  }
  &:focus-within {
    transform: translateY(-5px);
  }
}
.log-in__group-password{
  // 420px=26.25em
  @include media-w(26.25em){
    &::after{
      height: 40%;
    }
  }
}
.log-in__input {
  &:focus {
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
  }
  transition: all 0.3s;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 5px 10px;
  display: block;
  @include font(inherit, inherit);
  position: relative;
  border-bottom: 3px solid white;
  &::placeholder {
    color: lighten($black, 35%);
    font-family: inherit;
  }
  &:placeholder-shown + .log-in__label {
    top: 5px;
    right: 10px;
    opacity: 0;
    visibility: hidden;
  }
}
.log-in__input[type="password"] {
  padding: 11px 10px;
  font-size: 1.9rem;
}
.log-in__input[type="password"]::placeholder {
  font-size: 2.7rem;
}
.log-in__input-email {
  // 700px=43.75em
  @include media-w(43.75em) {
    padding: 9px 10px;
    font-size: 2.2rem;
  }
}
.log-in__input-email::placeholder {
  // 700px=43.75em
  @include media-w(43.75em) {
    font-size: 2.7rem;
  }
}

.log-in__label {
  display: block;
  position: absolute;
  color: lighten($black, 20%);
  top: -45px;
  right: 10px;
  font-size: 2.3rem;
  transition: all 0.3s ease-out;
}
.log-in__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0 50px;
  p:first-child {
    margin-bottom: 16px;
  }
  p {
    text-decoration: none;
    color: $black;
    transition: color 0.2s;
    cursor: pointer;
    font-size: 27px;
    &:hover {
      color: rgb(105, 105, 105);
    }
  }

  strong {
    font-family: "ziba";
    color: $mustard;
  }
}
.log-in__isErrorLogin {
  line-height: 1.7;
  text-align: center;
  color: $red !important;
  @include font("vazir", 25px !important, normal);
  // 700px=43.75em
  @include media-w(43.75em){
    @include font("vazir", 20px !important, normal);
  }
  // 450px=28.12em
  @include media-w(28.12em){
    @include font("vazir", 16px !important, normal);
  }
}
.log-in__btn {
  padding: 5px 50px;
  margin-bottom: 30px;
}
