@font-face {
    font-family: 'tanha';
    src: url('../public/tools/Font/Tanha-FD.woff');
}
@font-face {
    font-family: 'naz';
    src: url('../public/tools/Font/B-NAZANIN.TTF') format('truetype');
}
@font-face {
    font-family: 'vazir';
    src: url('../public/tools/Font/Vazir.woff');
    font-weight: normal;
}
@font-face {
    font-family: 'vazir';
    src: url('../public/tools/Font/Vazir-Bold.woff');
    font-weight: bold;
}
@font-face{
    font-family: 'irannas';
    src: url('../public/tools/Font/IranNastaliq.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'ziba';
    src: url('../public/tools/Font/danstevis/danstevis.otf');
}