$black:#333;
$black2:#514538;
$black3:#62400d;
$brown:#7c5624;
$mustard:#c38323;
$white:#fafafa;
$gray:#c8c2bc;
$gold:#c69963;
$gold2:#bb8f59;
$khaki:#f1ca89;
$cream-light:#f2dac3;
$cream-dark:darken(#e0c097,5%);
$r:#cdbba7;
$red:rgb(216, 58, 0);
